GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.5.2.7/Microsoft.AspNet.WebApi.5.2.7.nupkg
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.7/.signature.p7s
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.7/Microsoft.AspNet.WebApi.Client.5.2.7.nupkg
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/net45/System.Net.Http.Formatting.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/net45/System.Net.Http.Formatting.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/net45/zh-Hant/System.Net.Http.Formatting.resources.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/net45/zh-Hant/System.Net.Http.Formatting.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/netstandard2.0/System.Net.Http.Formatting.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/netstandard2.0/System.Net.Http.Formatting.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.zh-Hant.5.2.7/.signature.p7s
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.zh-Hant.5.2.7/Microsoft.AspNet.WebApi.Client.zh-Hant.5.2.7.nupkg
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.zh-Hant.5.2.7/lib/net45/zh-Hant/System.Net.Http.Formatting.resources.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Client.zh-Hant.5.2.7/lib/net45/zh-Hant/System.Net.Http.Formatting.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.5.2.7/.signature.p7s
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.5.2.7/Microsoft.AspNet.WebApi.Core.5.2.7.nupkg
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.5.2.7/Content/web.config.transform
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.5.2.7/lib/net45/System.Web.Http.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.5.2.7/lib/net45/System.Web.Http.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.5.2.7/lib/net45/zh-Hant/System.Web.Http.resources.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.5.2.7/lib/net45/zh-Hant/System.Web.Http.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.zh-Hant.5.2.7/.signature.p7s
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.zh-Hant.5.2.7/Microsoft.AspNet.WebApi.Core.zh-Hant.5.2.7.nupkg
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.zh-Hant.5.2.7/lib/net45/zh-Hant/System.Web.Http.resources.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.Core.zh-Hant.5.2.7/lib/net45/zh-Hant/System.Web.Http.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7/.signature.p7s
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7/Microsoft.AspNet.WebApi.WebHost.5.2.7.nupkg
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7/lib/net45/System.Web.Http.WebHost.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7/lib/net45/System.Web.Http.WebHost.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7/lib/net45/zh-Hant/System.Web.Http.WebHost.resources.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7/lib/net45/zh-Hant/System.Web.Http.WebHost.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.WebHost.zh-Hant.5.2.7/.signature.p7s
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.WebHost.zh-Hant.5.2.7/Microsoft.AspNet.WebApi.WebHost.zh-Hant.5.2.7.nupkg
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.WebHost.zh-Hant.5.2.7/lib/net45/zh-Hant/System.Web.Http.WebHost.resources.dll
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.WebHost.zh-Hant.5.2.7/lib/net45/zh-Hant/System.Web.Http.WebHost.xml
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/.signature.p7s
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1.nupkg
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.install.xdt
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.uninstall.xdt
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.install.xdt
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.uninstall.xdt
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.install.xdt
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.uninstall.xdt
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.install.xdt
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.uninstall.xdt
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/install.ps1
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/uninstall.ps1
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe.config
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.rsp
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.exe
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.rsp
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.Build.Tasks.CodeAnalysis.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.Scripting.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.Scripting.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.VisualBasic.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CSharp.Core.targets
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.amd64.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.x86.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.VisualBasic.Core.targets
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.AppContext.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Collections.Immutable.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Diagnostics.StackTrace.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.Primitives.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Reflection.Metadata.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe.config
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.rsp
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe.config
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe.config
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.rsp
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe.config
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.rsp
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Build.Tasks.CodeAnalysis.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.Scripting.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.Scripting.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.VisualBasic.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CSharp.Core.targets
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.amd64.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.x86.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Managed.Core.targets
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.VisualBasic.Core.targets
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Win32.Primitives.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.AppContext.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Collections.Immutable.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Console.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.DiagnosticSource.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.FileVersionInfo.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.StackTrace.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Globalization.Calendars.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.ZipFile.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.Primitives.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Http.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Sockets.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Reflection.Metadata.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Runtime.InteropServices.RuntimeInformation.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Algorithms.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Encoding.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Primitives.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.X509Certificates.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Text.Encoding.CodePages.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Threading.Tasks.Extensions.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.ValueTuple.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.ReaderWriter.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XmlDocument.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.XDocument.dll
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe.config
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.rsp
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe
GreenBookStoreAPI/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe.config
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/.signature.p7s
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/LICENSE.md
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/Newtonsoft.Json.12.0.2.nupkg
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.dll
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.xml
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.dll
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.xml
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.dll
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.xml
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.dll
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.xml
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
GreenBookStoreAPI/packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
GreenBookStoreAPI/packages/Microsoft.AspNet.WebApi.5.2.7/.signature.p7s
GreenBookStoreAPI/GreenBookStoreAPI/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
GreenBookStoreAPI/GreenBookStoreAPI/obj/Debug/build.force
GreenBookStoreAPI/GreenBookStoreAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GreenBookStoreAPI/GreenBookStoreAPI/obj/Debug/GreenBookStoreAPI.csprojAssemblyReference.cache
GreenBookStoreAPI/GreenBookStoreAPI/Properties/AssemblyInfo.cs
GreenBookStoreAPI/GreenBookStoreAPI.sln
GreenBookStoreAPI/GreenBookStoreAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
GreenBookStoreAPI/GreenBookStoreAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
GreenBookStoreAPI/GreenBookStoreAPI/bin/Newtonsoft.Json.dll
GreenBookStoreAPI/GreenBookStoreAPI/bin/System.Net.Http.Formatting.dll
GreenBookStoreAPI/GreenBookStoreAPI/bin/System.Web.Http.dll
GreenBookStoreAPI/GreenBookStoreAPI/bin/System.Web.Http.WebHost.dll
GreenBookStoreAPI/GreenBookStoreAPI/Web.Debug.config
GreenBookStoreAPI/GreenBookStoreAPI/Web.Release.config
GreenBookStoreAPI/.vs/GreenBookStoreAPI/config/applicationhost.config
GreenBookStoreAPI/.vs/GreenBookStoreAPI/v16/.suo
GreenBookStoreAPI/GreenBookStoreAPI/Global.asax
GreenBookStoreAPI/GreenBookStoreAPI/Global.asax.cs
GreenBookStoreAPI/GreenBookStoreAPI/GreenBookStoreAPI.csproj
GreenBookStoreAPI/GreenBookStoreAPI/GreenBookStoreAPI.csproj.user
